
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/'

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap'

*,
*::before,
*::after
  box-sizing: border-box

img
  max-width: 100%

.top-nav
  background-color: rgb(55, 85, 110)
  height: 60px
  i
    color: rgb(65, 65, 65)
  button
    vertical-align: middle
    margin-top: 7px

.add-container
  padding-top: 70px

.add-buttons-container
  text-align: right

.add-button
  margin-left: 15px

.img-feed
  padding-top: 70px
  padding-left: 0px
  padding-right: 0px
  text-align: center

.img-container
  text-align: center
  display: inline-block
  margin-right: 15px
  img
    padding-top: 5px
    margin: 0 auto

.thumbnail
  .caption
    padding: 0px

.thumbnail-caption-text
  text-align: center
  margin-bottom: 0px
  max-width: 400px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.button-container
  text-align: right

p.buttons-p
  margin-bottom: 0px

.like-button
  margin-left: 10px
  font-size: 14px
  padding: 5px 8px

button.btn.btn-lg.like-button.facebook.clicked
  background-color: rgb(0, 121, 207)
  color: white

button.btn.btn-lg.like-button.instagram.clicked
  background-color: rgb(255, 91, 91)
  color: white
